{#
 * Store block for Rightfast Ecwid
#}

{% set script_src = "https://app.ecwid.com/script.js?" ~ store_id ~ "&data_platform=code" %}

<div id="my-store-{{store_id}}"></div>
<div>
  <script data-cfasync="false" type="text/javascript"
  src="{{ script_src }}" charset="utf-8">
  </script>
  <script type="text/javascript">
  window.ec = window.ec || Object();
  window.ec.config = window.ec.config || Object();
  window.ec.config.enable_canonical_urls = true;

  window.ec.storefront = window.ec.storefront || Object();
  window.ec.storefront.breadcrumbs_home_url = "{{ store_base_path }}";

  window.ec.config.storefrontUrls = {
      cleanUrls: true,
  };
  if (!window.ec.config.baseUrl) {
    window.ec.config.baseUrl = "{{ base_path }}";
  }
  {% if default_category.id %}
  if (!window.ec.config.defaultCategoryId) {
    window.ec.config.defaultCategoryId = "{{ default_category.id }}";
  }
  {% endif %}
  {% if default_product.id %}
  if (!window.ec.config.defaultProductId) {
    window.ec.config.defaultProductId = "{{ default_product.id }}"
  }
  {% endif %}

  window.ec.storefront = window.ec.storefront || {};
  window.ec.storefront.sharing_button_link = "DIRECT_PAGE_URL";
  </script>
  <script type="text/javascript">
  if (window.ec.config.defaultCategoryId && window.ec.config.defaultProductId) {
    xProductBrowser("id=my-store-{{store_id}}", `defaultCategoryId=${window.ec.config.defaultCategoryId}`, `defaultProductId=${window.ec.config.defaultProductId}`);
  }
  else if (window.ec.config.defaultCategoryId) {
    xProductBrowser("id=my-store-{{store_id}}", `defaultCategoryId=${window.ec.config.defaultCategoryId}`);
  } else if (window.ec.config.defaultProductId) {
    xProductBrowser("id=my-store-{{store_id}}", `defaultProductId=${window.ec.config.defaultProductId}`);
  }
  else {
    xProductBrowser("id=my-store-{{store_id}}");
  }
  </script>
</div>
